@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */

*{
    margin: 0px;
    padding: 0px;
}
.btn-container{
    text-align: center;
}
.btn{
    border-radius: 8px;
    background: rgba(82, 195, 3, 1);
    padding: 8px 12px 8px 12px;
    border: none;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: work sans;
    font-size: 10px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0%;
    cursor: pointer;
}

#hero{
    height: 341px;
    background-image:linear-gradient(
        0deg,
        rgb(16,16,16) -19.5%,
        rgba(16, 16, 16, 0) 100%),
     url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content{
    width: 379px;
    margin: 0 auto;

}
#hero .hero-content .subtitle{
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 8px;
}
#hero .hero-content .title{
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 12px;
}

#hero .hero-content .description{
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 7px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 10px;
}

/* card style  */

#card-box{
    width: 489px;
    margin: 50px auto;
}
#card-box .subtitle{
   color: rgba(16, 16, 16, 1);
   font-family: Work Sans;
   font-size: 10px;
   font-weight: 500;
   line-height: 100%;
   letter-spacing: 0%;
   text-align: center;
   opacity: 0.8;
}
#card-box .title{
   color: rgba(16, 16, 16, 1);
   font-family: Work Sans;
   font-size: 23px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: 0%;
   text-align: center;
}
.card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.card{
    max-width: 160px;
    display: flex;
    flex-direction: column;
    gap:12px;
    justify-content: center;
    align-items: center;
}
.card .image-box{
    width: 160px;

}
.card .image-box img{
    width: 100%;
}
.card .shop{
    padding: 7px 20px 7px 20px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
}
.card .shop .button{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
#card-box .container .card-container .card .title{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

#card-box .container .card-container .card .description{
    color: rgba(16, 16, 16, 1);
    opacity: 0.8;
    font-family: Work Sans;
    font-size: 9px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
}
#sell-btn{
    text-align: center;
    margin-top: 30px;
}